@model IEnumerable<Order>


@foreach (var item in Model)
{
    <p>Order Id: @item.Id</p>
    <p>Name: @item.Name</p>
    <p>Street: @item.Street @item.Number</p>
    <p>Time: @item.Time</p>
    <p>Total Price: @item.TotalPrice</p>
    <br />
    <p>Dishes: </p>
    @foreach (var dish in item.OrderItems)
    {
        <p>@dish.ItemName @dish.Quantity</p>
    }
    <br />
    <br />
    <br />

}

<br />


<a asp-action="Menu">Back</a>



<br />
<br />
